<template>
  <div>
    <h2 id="page-heading" data-cy="CourseHeading">
      <span v-text="$t('coopCycleApp.course.home.title')" id="course-heading">Courses</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('coopCycleApp.course.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'CourseCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-course"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('coopCycleApp.course.home.createLabel')"> Create a new Course </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && courses && courses.length === 0">
      <span v-text="$t('coopCycleApp.course.home.notFound')">No courses found</span>
    </div>
    <div class="table-responsive" v-if="courses && courses.length > 0">
      <table class="table table-striped" aria-describedby="courses">
        <thead>
          <tr>
            <th scope="row"><span v-text="$t('global.field.id')">ID</span></th>
            <th scope="row"><span v-text="$t('coopCycleApp.course.idCoursier')">Id Coursier</span></th>
            <th scope="row"><span v-text="$t('coopCycleApp.course.idCommande')">Id Commande</span></th>
            <th scope="row"><span v-text="$t('coopCycleApp.course.adresse')">Adresse</span></th>
            <th scope="row"><span v-text="$t('coopCycleApp.course.commande')">Commande</span></th>
            <th scope="row"><span v-text="$t('coopCycleApp.course.coursier')">Coursier</span></th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="course in courses" :key="course.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'CourseView', params: { courseId: course.id } }">{{ course.id }}</router-link>
            </td>
            <td>{{ course.idCoursier }}</td>
            <td>{{ course.idCommande }}</td>
            <td>{{ course.adresse }}</td>
            <td>
              <div v-if="course.commande">
                <router-link :to="{ name: 'CommandeView', params: { commandeId: course.commande.id } }">{{
                  course.commande.id
                }}</router-link>
              </div>
            </td>
            <td>
              <div v-if="course.coursier">
                <router-link :to="{ name: 'CoursierView', params: { coursierId: course.coursier.id } }">{{
                  course.coursier.id
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'CourseView', params: { courseId: course.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'CourseEdit', params: { courseId: course.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(course)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="coopCycleApp.course.delete.question" data-cy="courseDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-course-heading" v-text="$t('coopCycleApp.course.delete.question', { id: removeId })">
          Are you sure you want to delete this Course?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-course"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeCourse()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./course.component.ts"></script>
