<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="course">
        <h2 class="jh-entity-heading" data-cy="courseDetailsHeading">
          <span v-text="$t('coopCycleApp.course.detail.title')">Course</span> {{ course.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('coopCycleApp.course.idCoursier')">Id Coursier</span>
          </dt>
          <dd>
            <span>{{ course.idCoursier }}</span>
          </dd>
          <dt>
            <span v-text="$t('coopCycleApp.course.idCommande')">Id Commande</span>
          </dt>
          <dd>
            <span>{{ course.idCommande }}</span>
          </dd>
          <dt>
            <span v-text="$t('coopCycleApp.course.adresse')">Adresse</span>
          </dt>
          <dd>
            <span>{{ course.adresse }}</span>
          </dd>
          <dt>
            <span v-text="$t('coopCycleApp.course.commande')">Commande</span>
          </dt>
          <dd>
            <div v-if="course.commande">
              <router-link :to="{ name: 'CommandeView', params: { commandeId: course.commande.id } }">{{ course.commande.id }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('coopCycleApp.course.coursier')">Coursier</span>
          </dt>
          <dd>
            <div v-if="course.coursier">
              <router-link :to="{ name: 'CoursierView', params: { coursierId: course.coursier.id } }">{{ course.coursier.id }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="course.id" :to="{ name: 'CourseEdit', params: { courseId: course.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./course-details.component.ts"></script>
