<template>
  <div>
    <h2 id="page-heading" data-cy="ProduitCommandeHeading">
      <span v-text="$t('coopCycleApp.produitCommande.home.title')" id="produit-commande-heading">Produit Commandes</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('coopCycleApp.produitCommande.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'ProduitCommandeCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-produit-commande"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('coopCycleApp.produitCommande.home.createLabel')"> Create a new Produit Commande </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && produitCommandes && produitCommandes.length === 0">
      <span v-text="$t('coopCycleApp.produitCommande.home.notFound')">No produitCommandes found</span>
    </div>
    <div class="table-responsive" v-if="produitCommandes && produitCommandes.length > 0">
      <table class="table table-striped" aria-describedby="produitCommandes">
        <thead>
          <tr>
            <th scope="row"><span v-text="$t('global.field.id')">ID</span></th>
            <th scope="row"><span v-text="$t('coopCycleApp.produitCommande.idProduit')">Id Produit</span></th>
            <th scope="row"><span v-text="$t('coopCycleApp.produitCommande.idCommande')">Id Commande</span></th>
            <th scope="row"><span v-text="$t('coopCycleApp.produitCommande.quantite')">Quantite</span></th>
            <th scope="row"><span v-text="$t('coopCycleApp.produitCommande.quantitePossible')">Quantite Possible</span></th>
            <th scope="row"><span v-text="$t('coopCycleApp.produitCommande.product')">Product</span></th>
            <th scope="row"><span v-text="$t('coopCycleApp.produitCommande.commande')">Commande</span></th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="produitCommande in produitCommandes" :key="produitCommande.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'ProduitCommandeView', params: { produitCommandeId: produitCommande.id } }">{{
                produitCommande.id
              }}</router-link>
            </td>
            <td>{{ produitCommande.idProduit }}</td>
            <td>{{ produitCommande.idCommande }}</td>
            <td>{{ produitCommande.quantite }}</td>
            <td>{{ produitCommande.quantitePossible }}</td>
            <td>
              <span v-for="(product, i) in produitCommande.products" :key="product.id"
                >{{ i > 0 ? ', ' : '' }}
                <router-link class="form-control-static" :to="{ name: 'ProduitView', params: { produitId: product.id } }">{{
                  product.id
                }}</router-link>
              </span>
            </td>
            <td>
              <div v-if="produitCommande.commande">
                <router-link :to="{ name: 'CommandeView', params: { commandeId: produitCommande.commande.id } }">{{
                  produitCommande.commande.id
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link
                  :to="{ name: 'ProduitCommandeView', params: { produitCommandeId: produitCommande.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link
                  :to="{ name: 'ProduitCommandeEdit', params: { produitCommandeId: produitCommande.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(produitCommande)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span
          id="coopCycleApp.produitCommande.delete.question"
          data-cy="produitCommandeDeleteDialogHeading"
          v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-produitCommande-heading" v-text="$t('coopCycleApp.produitCommande.delete.question', { id: removeId })">
          Are you sure you want to delete this Produit Commande?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-produitCommande"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeProduitCommande()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./produit-commande.component.ts"></script>
