<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="paiement">
        <h2 class="jh-entity-heading" data-cy="paiementDetailsHeading">
          <span v-text="$t('coopCycleApp.paiement.detail.title')">Paiement</span> {{ paiement.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('coopCycleApp.paiement.idCommande')">Id Commande</span>
          </dt>
          <dd>
            <span>{{ paiement.idCommande }}</span>
          </dd>
          <dt>
            <span v-text="$t('coopCycleApp.paiement.modeDePaiement')">Mode De Paiement</span>
          </dt>
          <dd>
            <span v-text="$t('coopCycleApp.ModeDePaiement.' + paiement.modeDePaiement)">{{ paiement.modeDePaiement }}</span>
          </dd>
          <dt>
            <span v-text="$t('coopCycleApp.paiement.commande')">Commande</span>
          </dt>
          <dd>
            <div v-if="paiement.commande">
              <router-link :to="{ name: 'CommandeView', params: { commandeId: paiement.commande.id } }">{{
                paiement.commande.id
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="paiement.id" :to="{ name: 'PaiementEdit', params: { paiementId: paiement.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./paiement-details.component.ts"></script>
