<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="coopCycleApp.client.home.createOrEditLabel"
          data-cy="ClientCreateUpdateHeading"
          v-text="$t('coopCycleApp.client.home.createOrEditLabel')"
        >
          Create or edit a Client
        </h2>
        <div>
          <div class="form-group" v-if="client.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="client.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('coopCycleApp.client.nom')" for="client-nom">Nom</label>
            <input
              type="text"
              class="form-control"
              name="nom"
              id="client-nom"
              data-cy="nom"
              :class="{ valid: !$v.client.nom.$invalid, invalid: $v.client.nom.$invalid }"
              v-model="$v.client.nom.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('coopCycleApp.client.prenom')" for="client-prenom">Prenom</label>
            <input
              type="text"
              class="form-control"
              name="prenom"
              id="client-prenom"
              data-cy="prenom"
              :class="{ valid: !$v.client.prenom.$invalid, invalid: $v.client.prenom.$invalid }"
              v-model="$v.client.prenom.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('coopCycleApp.client.telephone')" for="client-telephone">Telephone</label>
            <input
              type="text"
              class="form-control"
              name="telephone"
              id="client-telephone"
              data-cy="telephone"
              :class="{ valid: !$v.client.telephone.$invalid, invalid: $v.client.telephone.$invalid }"
              v-model="$v.client.telephone.$model"
            />
            <div v-if="$v.client.telephone.$anyDirty && $v.client.telephone.$invalid">
              <small
                class="form-text text-danger"
                v-if="!$v.client.telephone.minLength"
                v-text="$t('entity.validation.minlength', { min: 10 })"
              >
                This field is required to be at least 10 characters.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.client.telephone.maxLength"
                v-text="$t('entity.validation.maxlength', { max: 10 })"
              >
                This field cannot be longer than 10 characters.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('coopCycleApp.client.adresse')" for="client-adresse">Adresse</label>
            <input
              type="text"
              class="form-control"
              name="adresse"
              id="client-adresse"
              data-cy="adresse"
              :class="{ valid: !$v.client.adresse.$invalid, invalid: $v.client.adresse.$invalid }"
              v-model="$v.client.adresse.$model"
              required
            />
            <div v-if="$v.client.adresse.$anyDirty && $v.client.adresse.$invalid">
              <small class="form-text text-danger" v-if="!$v.client.adresse.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.client.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./client-update.component.ts"></script>
