<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="coopCycleApp.commande.home.createOrEditLabel"
          data-cy="CommandeCreateUpdateHeading"
          v-text="$t('coopCycleApp.commande.home.createOrEditLabel')"
        >
          Create or edit a Commande
        </h2>
        <div>
          <div class="form-group" v-if="commande.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="commande.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('coopCycleApp.commande.idCommande')" for="commande-idCommande">Id Commande</label>
            <input
              type="number"
              class="form-control"
              name="idCommande"
              id="commande-idCommande"
              data-cy="idCommande"
              :class="{ valid: !$v.commande.idCommande.$invalid, invalid: $v.commande.idCommande.$invalid }"
              v-model.number="$v.commande.idCommande.$model"
              required
            />
            <div v-if="$v.commande.idCommande.$anyDirty && $v.commande.idCommande.$invalid">
              <small class="form-text text-danger" v-if="!$v.commande.idCommande.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.commande.idCommande.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('coopCycleApp.commande.idCooperative')" for="commande-idCooperative"
              >Id Cooperative</label
            >
            <input
              type="number"
              class="form-control"
              name="idCooperative"
              id="commande-idCooperative"
              data-cy="idCooperative"
              :class="{ valid: !$v.commande.idCooperative.$invalid, invalid: $v.commande.idCooperative.$invalid }"
              v-model.number="$v.commande.idCooperative.$model"
              required
            />
            <div v-if="$v.commande.idCooperative.$anyDirty && $v.commande.idCooperative.$invalid">
              <small class="form-text text-danger" v-if="!$v.commande.idCooperative.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.commande.idCooperative.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('coopCycleApp.commande.idClient')" for="commande-idClient">Id Client</label>
            <input
              type="number"
              class="form-control"
              name="idClient"
              id="commande-idClient"
              data-cy="idClient"
              :class="{ valid: !$v.commande.idClient.$invalid, invalid: $v.commande.idClient.$invalid }"
              v-model.number="$v.commande.idClient.$model"
              required
            />
            <div v-if="$v.commande.idClient.$anyDirty && $v.commande.idClient.$invalid">
              <small class="form-text text-danger" v-if="!$v.commande.idClient.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.commande.idClient.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('coopCycleApp.commande.idCourse')" for="commande-idCourse">Id Course</label>
            <input
              type="number"
              class="form-control"
              name="idCourse"
              id="commande-idCourse"
              data-cy="idCourse"
              :class="{ valid: !$v.commande.idCourse.$invalid, invalid: $v.commande.idCourse.$invalid }"
              v-model.number="$v.commande.idCourse.$model"
              required
            />
            <div v-if="$v.commande.idCourse.$anyDirty && $v.commande.idCourse.$invalid">
              <small class="form-text text-danger" v-if="!$v.commande.idCourse.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.commande.idCourse.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('coopCycleApp.commande.prix')" for="commande-prix">Prix</label>
            <input
              type="number"
              class="form-control"
              name="prix"
              id="commande-prix"
              data-cy="prix"
              :class="{ valid: !$v.commande.prix.$invalid, invalid: $v.commande.prix.$invalid }"
              v-model.number="$v.commande.prix.$model"
              required
            />
            <div v-if="$v.commande.prix.$anyDirty && $v.commande.prix.$invalid">
              <small class="form-text text-danger" v-if="!$v.commande.prix.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.commande.prix.min" v-text="$t('entity.validation.min', { min: 0 })">
                This field should be at least 0.
              </small>
              <small class="form-text text-danger" v-if="!$v.commande.prix.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('coopCycleApp.commande.date')" for="commande-date">Date</label>
            <div class="d-flex">
              <input
                id="commande-date"
                data-cy="date"
                type="datetime-local"
                class="form-control"
                name="date"
                :class="{ valid: !$v.commande.date.$invalid, invalid: $v.commande.date.$invalid }"
                :value="convertDateTimeFromServer($v.commande.date.$model)"
                @change="updateZonedDateTimeField('date', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('coopCycleApp.commande.etat')" for="commande-etat">Etat</label>
            <select
              class="form-control"
              name="etat"
              :class="{ valid: !$v.commande.etat.$invalid, invalid: $v.commande.etat.$invalid }"
              v-model="$v.commande.etat.$model"
              id="commande-etat"
              data-cy="etat"
              required
            >
              <option v-for="etat in etatValues" :key="etat" v-bind:value="etat" v-bind:label="$t('coopCycleApp.Etat.' + etat)">
                {{ etat }}
              </option>
            </select>
            <div v-if="$v.commande.etat.$anyDirty && $v.commande.etat.$invalid">
              <small class="form-text text-danger" v-if="!$v.commande.etat.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('coopCycleApp.commande.client')" for="commande-client">Client</label>
            <select class="form-control" id="commande-client" data-cy="client" name="client" v-model="commande.client">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="commande.client && clientOption.id === commande.client.id ? commande.client : clientOption"
                v-for="clientOption in clients"
                :key="clientOption.id"
              >
                {{ clientOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('coopCycleApp.commande.cooperative')" for="commande-cooperative"
              >Cooperative</label
            >
            <select class="form-control" id="commande-cooperative" data-cy="cooperative" name="cooperative" v-model="commande.cooperative">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  commande.cooperative && cooperativeOption.id === commande.cooperative.id ? commande.cooperative : cooperativeOption
                "
                v-for="cooperativeOption in cooperatives"
                :key="cooperativeOption.id"
              >
                {{ cooperativeOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.commande.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./commande-update.component.ts"></script>
