<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="commande">
        <h2 class="jh-entity-heading" data-cy="commandeDetailsHeading">
          <span v-text="$t('coopCycleApp.commande.detail.title')">Commande</span> {{ commande.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('coopCycleApp.commande.idCommande')">Id Commande</span>
          </dt>
          <dd>
            <span>{{ commande.idCommande }}</span>
          </dd>
          <dt>
            <span v-text="$t('coopCycleApp.commande.idCooperative')">Id Cooperative</span>
          </dt>
          <dd>
            <span>{{ commande.idCooperative }}</span>
          </dd>
          <dt>
            <span v-text="$t('coopCycleApp.commande.idClient')">Id Client</span>
          </dt>
          <dd>
            <span>{{ commande.idClient }}</span>
          </dd>
          <dt>
            <span v-text="$t('coopCycleApp.commande.idCourse')">Id Course</span>
          </dt>
          <dd>
            <span>{{ commande.idCourse }}</span>
          </dd>
          <dt>
            <span v-text="$t('coopCycleApp.commande.prix')">Prix</span>
          </dt>
          <dd>
            <span>{{ commande.prix }}</span>
          </dd>
          <dt>
            <span v-text="$t('coopCycleApp.commande.date')">Date</span>
          </dt>
          <dd>
            <span v-if="commande.date">{{ $d(Date.parse(commande.date), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('coopCycleApp.commande.etat')">Etat</span>
          </dt>
          <dd>
            <span v-text="$t('coopCycleApp.Etat.' + commande.etat)">{{ commande.etat }}</span>
          </dd>
          <dt>
            <span v-text="$t('coopCycleApp.commande.client')">Client</span>
          </dt>
          <dd>
            <div v-if="commande.client">
              <router-link :to="{ name: 'ClientView', params: { clientId: commande.client.id } }">{{ commande.client.id }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('coopCycleApp.commande.cooperative')">Cooperative</span>
          </dt>
          <dd>
            <div v-if="commande.cooperative">
              <router-link :to="{ name: 'CooperativeView', params: { cooperativeId: commande.cooperative.id } }">{{
                commande.cooperative.id
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="commande.id" :to="{ name: 'CommandeEdit', params: { commandeId: commande.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./commande-details.component.ts"></script>
